@charset "utf-8";
.normalText {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #B3B3B3;
	font-size: 14px;
}

div.relative {
    position: relative;
    left: 30px;
    border: 1px solid #CCC;
}
.perc {
	color: #979394;
}
.normalWhite {
	color: #FFF;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}
